@font-face {
    font-family: 'Ubuntu Mono Regular';
    src: url('../font/UbuntuMono-Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container{
    font-family:  'Roboto', sans-serif;
    width: 980px;
    margin: 0px auto;
    overflow-wrap: scroll;
}
.container > h2{
 text-align: center;   
}
.panel{
    padding: 10px;
    background-color: rgb(236, 236, 236);
}
.container textarea{
    text-align: left;
    width: 99.5%;
    outline: none;
    font-family: 'Ubuntu Mono Regular',monospace;
    font-weight: 600;
    font-size: 18px;
    border-top: none;
}
.line{
    border: 2px solid black;
}
.btn{
    border: none;
    width: 15px;
    height: 15px;  
    outline: none;
}
.icon-bold{
    background-size: 100% 100%;
    background-image: url('../img/font-bold.png');
    background-repeat: no-repeat;
    background-position: center;

}
.icon-italic{
    background-size: 100% 100%;
    background-image: url('../img/italic.png');
    background-repeat: no-repeat;
    background-position: center;

}
.icon-underline{
    background-size: 100% 100%;
    background-image: url('../img/underline.png');
    background-repeat: no-repeat;
    background-position: center;

}
.btn:hover{
    opacity: 0.7;
}
.btn:active{
    background-color:black;
    opacity: 0.3;
}
.panel select{
    border: none;
    outline: none;
}
.panel select:focus{
    outline: none;
}
.panel fieldset{
    display: inline;
}
.panel fieldset legend{
    background-color: rgb(131, 131, 131);
}
