
body{
    background-color: rgba(233, 233, 233, 0.993);
}
*{
    font-family: Arial, sans-serif;
}

.form{
    margin:0px auto;
    padding: 10px;
    width: 980px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 16px 5px 28px 1px rgb(0, 0, 0, 0.40);
}

select#idioma{
    display: block;
    margin: auto 0px 20px auto;
}
fieldset{
    background-color: #2196f3;
    border: none;
    margin-bottom: 20px;
}
legend{
    background-color: #000;
    min-width: 140px;
    color: whitesmoke;
}
table, td, tr{
    border: 1px solid black;
}
.table{
    border-collapse: collapse;
}
